In [6]:
# To install pandas module 'pip install pandas'
pip show pandas

SyntaxError: invalid syntax (<ipython-input-6-a825110a42c5>, line 2)

In [4]:
import pandas as pd

In [2]:
# Read csv file

df = pd.read_csv("demo_test_data.csv")
df.columns
df.head()

  label  xcoord   ycoord  elevation    misc
0  GCP1  421773  2756199         76  corner
1  GCP2  421744  2756183         45    edge
2  GCP3  421793  2756182         45   angle
3  GCP4  421796  2756152         24      bc
4  GCP5  421755  2756141         34      tn

In [3]:
df[['label', 'xcoord', 'ycoord']].head(5)

  label  xcoord   ycoord
0  GCP1  421773  2756199
1  GCP2  421744  2756183
2  GCP3  421793  2756182
3  GCP4  421796  2756152
4  GCP5  421755  2756141

In [15]:
df.iloc[1,2]

df.loc[df['label']=='GCP1']

  label  xcoord   ycoord  elevation    misc
0  GCP1  421773  2756199         76  corner

In [16]:
df['total'] = df['xcoord'] + df['ycoord'] + df['elevation']

In [20]:
df = df.drop(columns='total')

In [21]:
df

    label  xcoord   ycoord  elevation    misc
0    GCP1  421773  2756199         76  corner
1    GCP2  421744  2756183         45    edge
2    GCP3  421793  2756182         45   angle
3    GCP4  421796  2756152         24      bc
4    GCP5  421755  2756141         34      tn
5    GCP6  421719  2756142         54      pk
6    GCP7  421707  2756184         76     lon
7    GCP8  421771  2756165         75     lat
8    GCP9  421793  2756128         32     tsc
9   GCP10  421718  2756208         77      bn
10  GCP11  421753  2756216         67      bn
11  GCP12  421811  2756170         87      vb
12  GCP13  421731  2756165         97      bv
13  GCP14  421702  2756150         54      sd
14  GCP15  421769  2756184         34      ds
15  GCP16  421800  2756214          6      gd
16  GCP17  421738  2756125         97      nm
17  GCP18  421827  2756139         90      tu
18  GCP19  421844  2756165         98      un
19  GCP20  421849  2756198         67      rg
20  GCP21  421824  2756201         79      rf
21  GCP22  421775  2756132         57      gn
22  GCP23  421826  2756125         56      pk
23  GCP24  421848  2756147         34      ls
24  GCP25  421726  2756111          7      re
25  GCP26  421767  2756114         88      we
26  GCP27  421806  2756114         56      rt
27  GCP28  421703  2756115         56      tu
28  GCP29  421698  2756211          4       x
29  GCP30  421851  2756219         23      lu
30  GCP31  421845  2756115         22      ct

In [68]:
test = pd.read_csv('demo.csv')

In [69]:
test.head(5)

,5032.09964044735,7725.131791480509,600.41,0.718368585347892,73.16097623322123
0,5034.287945,7727.183943,600.50,0.718369,73.160976
1,5036.476249,7729.236094,600.65,0.718369,73.160976
2,5038.664553,7731.288246,600.82,0.718369,73.160976
3,5040.852857,7733.340397,600.95,0.718369,73.160976
4,5043.041161,7735.392548,600.98,0.718369,73.160976

In [66]:
df = test.drop(columns='Z')

In [67]:
df.to_csv('demo.csv', header=False, index=False)

In [70]:
column_names = ['x', 'y', 'z', 'hi', 'hello']

In [71]:
d = pd.read_csv('demo.csv', names = column_names)

In [72]:
d.head(5)

             x            y       z        hi      hello
0  5032.099640  7725.131791  600.41  0.718369  73.160976
1  5034.287945  7727.183943  600.50  0.718369  73.160976
2  5036.476249  7729.236094  600.65  0.718369  73.160976
3  5038.664553  7731.288246  600.82  0.718369  73.160976
4  5040.852857  7733.340397  600.95  0.718369  73.160976

In [73]:
d.to_csv('demo1.csv', index=False)

In [75]:
hi = pd.read_csv('demo1.csv', header=None)

In [76]:
hi

,0,1,2,3,4
0,x,y,z,hi,hello
1,5032.09964044735,7725.131791480509,600.41,0.718368585347892,73.16097623322123
2,5034.28794454344,7727.18394283532,600.5,0.718368585347892,73.16097623324744
3,5036.476248639528,7729.23609419013,600.65,0.718368585347892,73.16097623324744
4,5038.66455273561,7731.288245544929,600.82,0.718368585347892,73.16097623326226
5,5040.8528568317,7733.340396899741,600.95,0.718368585347892,73.16097623322467
6,5043.04116092779,7735.392548254549,600.98,0.718368585347892,73.16097623322123
7,5045.229465023879,7737.444699609359,600.91,0.718368585347892,73.16097623323952
8,5047.41776911997,7739.49685096417,600.85,0.718368585347892,73.16097623326226
9,5049.6060732160495,7741.54900231898,600.82,0.718368585347892,73.160976233244
10,5051.79437731214,7743.6011536737915,600.79,0.718368585347892,73.16097623322919
11,5053.98268140823,7745.6533050286,600.73,0.718368585347892,73.16097623324055
12,5056.17098550432,7747.705456383409,600.63,0.718368585347892,73.16097623322364
13,5058.35928960041,7749.75760773822,600.48,0.718368585347892,73.16097623325088
14,5060.5475936964895,7751.80975909303,600.33,0.718368585347892,73.16097623323604
15,5062.73589779258,7753.86191044784,600.12,0.718368585347892,73.16097623324055
16,5064.92420188867,7755.91406180265,599.72,0.718368585347892,73.16097623322574
17,5067.11250598476,7757.96621315746,598.98,0.718368585347892,73.16097623325088
18,5069.30081008084,7760.018364512271,598.0,0.718368585347892,73.16097623323952
19,5071.48911417693,7762.07051586708,596.93,0.718368585347892,73.16097623322123
20,5073.67741827302,7764.12266722188,595.89,0.718368585347892,73.1609762332133
21,5075.86572236911,7766.174818576691,594.98,0.718368585347892,73.16097623325881
22,5078.05402646519,7768.2269699315,594.2,0.718368585347892,73.16097623324744
23,5080.24233056128,7770.2791212863085,593.46,0.718368585347892,73.1609762332178
24,5082.43063465737,7772.33127264112,592.73,0.718368585347892,73.16097623322813
25,5084.618938753461,7774.3834239959315,591.96,0.718368585347892,73.16097623324055
26,5086.80724284955,7776.435575350741,591.16,0.718368585347892,73.16097623325538
27,5088.99554694563,7778.487726705551,590.33,0.718368585347892,73.16097623322467
28,5091.183851041721,7780.539878060359,589.64,0.718368585347892,73.16097623323952
29,5093.37215513781,7782.592029415171,589.13,0.718368585347892,73.16097623322676
...,...,...,...,...,...
2871,5069.34639203182,7963.203427063209,592.26,0.75,68.16097612705363
2872,5071.39853738018,7961.015129372059,594.07,0.75,68.16097612695664
2873,5073.45068272856,7958.826831680921,590.09,0.75,68.16097612703214
2874,5075.50282807693,7956.638533989771,590.01,0.75,68.16097612711297
2875,5077.5549734253,7954.4502362986295,589.92,0.75,68.16097612698894
2876,5079.60711877367,7952.26193860749,590.09,0.75,68.160976126962
2877,5081.6592641220395,7950.07364091634,590.1,0.75,68.16097612701064
2878,5083.71140947041,7947.8853432252,589.79,0.75,68.16097612697814
2879,5085.76355481878,7945.6970455340515,590.61,0.75,68.1609761269837
2880,5087.815700167151,7943.508747842909,590.75,0.75,68.16097612699984
2881,5089.86784551553,7941.320450151759,591.33,0.75,68.16097612693507
2882,5091.919990863889,7939.13215246062,590.69,0.75,68.1609761269837
2883,5019.54062899195,7998.788614869721,590.92,0.75,68.160976126962
2884,5021.5939847364,7996.5998870476415,589.91,0.75,68.16097612717775
2885,5023.65396102839,7994.420525610059,589.41,0.75,68.16097612711843
2886,5021.72716331151,8000.842215257241,591.37,0.75,68.16097612707523
2887,5023.78148383146,7998.652876025872,590.56,0.75,68.16097612700517
2888,5025.83611407809,7996.46065062652,590.0,0.75,68.16097612698894
2889,5027.90320708067,7994.28700110653,589.68,0.75,68.16097612698904
2890,5030.07472910234,7996.32946332323,590.21,0.75,68.16097612704829
2891,5028.0251125238,7998.5119185515505,590.55,0.75,68.1609761269512
2892,5025.96966172472,8000.70374099797,591.11,0.75,68.16097612705907
2893,5023.92239345295,8002.897780353921,591.79,0.75,68.16097612698894
2894,5026.10657912586,8004.946526958671,592.14,0.75,68.16097612688115
2895,5028.15873048068,8002.75822286258,591.55,0.75,68.16097612697824
2896,5032.40248194134,8002.6152665187,591.25,0.75,68.160976126962
2897,5034.45274795896,8000.434667609559,591.2,0.75,68.1609761269081
2898,5030.347463953879,8004.80662743803,591.75,0.75,68.16097612702688
2899,5028.29397359154,8006.996359379908,592.28,0.75,68.1609761269729
2900,5032.25705662991,7998.378164101658,590.75,0.75,68.16097612697824

In [92]:
# Make dataframe using pandas library

test1 = {'x':[5000, 5050, 5100, 5150, 5200], 'y':[3500, 3550, 3600, 3650, 3700], 'z':[40, 45, 60, 70, 80]}
test2 = {'x':[5000, 5050, 5100, 8750, 5200], 'y':[3500, 3550, 4600, 3650, 3700], 'z':[90, 45, 60, 70, 80], 'label':['gcp1', 'gcp2', 'gcp3', 'gcp4', 'gcp5']}

df1 = pd.DataFrame(test1)
df2 = pd.DataFrame(test2)
print(df1)
print('\n')
print(df2)

      x     y   z
0  5000  3500  40
1  5050  3550  45
2  5100  3600  60
3  5150  3650  70
4  5200  3700  80


      x     y   z label
0  5000  3500  90  gcp1
1  5050  3550  45  gcp2
2  5100  4600  60  gcp3
3  8750  3650  70  gcp4
4  5200  3700  80  gcp5

In [ ]:
# Slicing the DataFramabse
df.head(2)
df.tail(2)

In [ ]:
# Changing the index

In [ ]:
# Data conversion

In [ ]:
# Changing the column header

In [ ]:
# Concatenation

In [93]:
# Merging
print(pd.merge(df1, df2, on = 'x'))

      x   y_x  z_x   y_y  z_y label
0  5000  3500   40  3500   90  gcp1
1  5050  3550   45  3550   45  gcp2
2  5100  3600   60  4600   60  gcp3
3  5200  3700   80  3700   80  gcp5

In [91]:
# Joining
df1 = pd.DataFrame({'name':['Bipin', 'Praveen', 'Senthil'], 'age':[30, 31, 33]}, index=[101, 102, 103])
df2 = pd.DataFrame({'education':['GIS', 'CS', 'IT'], 'company':['infosys', 'wipro', 'cognizent']}, index=[100, 103, 104])

joined = df1.join(df2)
print(joined)

        name  age education company
101    Bipin   30       NaN     NaN
102  Praveen   31       NaN     NaN
103  Senthil   33        CS   wipro